[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
psycopg2-binary = "*"
alembic = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
flake8-debugger = "*"

[requires]
python_version = "3.12"

[scripts]
alembic = "alembic"